@font-face {
font-family: harry;
src: url("../fonts/harrypotter.TTF");
}
body {
	background: url();
}
.navbar {
	padding-left: 400px
}
h1 {
	font-family: harry;
	font-size: 60px;
}
.nav-link {
	color: black
}
.navbar-brand {
	color: black
}
.logo1 {
	size: max-width;
	height: 100px;
	width: 100px;
}
div.gallery {
    margin: 60px;
    border: 0px;
    float: left;
    width: 250px;
}

div.gallery:hover {
    border: 0px solid #777;
}

div.gallery img {
    width: 200px;
    height: 200px;
}

div.desc {
    padding: 30px;
    text-align: center;
    font-family: harry;
}
.deathly {
	height: 350px;
	width: 580px;
}
.col6 {
	background-color: #2A4F54;
}